# Sales Analysis 
Merging 12 months of Sales data into a single file.

In [ ]:
import pandas as pd
import os
df=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_April_2019.csv")
#print(df.shape)
df1=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_May_2019.csv")
#print(df1.shape)
df2=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_June_2019.csv")
#print(df2.shape)
df3=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_July_2019.csv")
#print(df3.shape)
df4=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_August_2019.csv")
#print(df4.shape)
df5=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_September_2019.csv")
#print(df5.shape)
df6=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_October_2019.csv")
#print(df6.shape)
df7=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_November_2019.csv")
#print(df7.shape)
df8=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_December_2019.csv")
#print(df8.shape)
df9=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_January_2019.csv")
#print(df9.shape)
df10=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_February_2019.csv")
#print(df10.shape)
df11=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Sales_March_2019.csv")
#print(df11.shape)
merged_sales=pd.concat([df9,df10,df11,df,df1,df2,df3,df4,df5,df6,df7,df8],axis=0) # concat()- is used to concatenate more then two dataset ,  and there is one also called merge syntax which is used when we have to merge on the basis of primary key (df.merge(df1,on=[""]))
print(merged_sales.shape)
#merged_sales.to_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Merged_sales.csv")

# Second Method to merge all the files using loop

In [ ]:
files=[file for file in os.listdir('D:\\ONLINE_DATASET\\keith\\Sales_data')]
all_months_data=pd.DataFrame()
for file in files:
        if file=="Merged_sales.csv":
            pass
        else:
                df=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\"+file)
                all_months_data=pd.concat([all_months_data,df])
print(all_months_data.shape)

In [ ]:
df=pd.read_csv("D:\\ONLINE_DATASET\\keith\\Sales_data\\Merged_sales.csv")
df.set_index("INDEX",inplace=True)
#df.head()
df.columns

## Q-1 What was the Best Month For Sales ?  How much was earned that Month ?

In [ ]:
df.head(5)
#df.drop(["Purchase Address"],axis=1,inplace=True)

In [ ]:
Jan_sum= 0
for row in df[(df["Order Date"] >= '01/01/2019') & (df["Order Date"] <= "01/31/2019")].iterrows():
    Jan_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of January  :  ",  round(Jan_sum,2))    

Feb_sum=0
for row in df[(df["Order Date"] >= "02/01/2019") & (df["Order Date"] <= "02/30/2019")].iterrows():
    Feb_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of Feburary : ", round(Feb_sum,2))    
    
Mar_sum=0
for row in df[(df["Order Date"] >= "03/01/2019") & (df["Order Date"] <= "03/31/2019")].iterrows():
    Mar_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of March    : ", round(Mar_sum,2))       

Apr_sum=0
for row in df[(df["Order Date"] >= "04/01/2019") & (df["Order Date"] <= "04/31/2019")].iterrows():
    Apr_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of April    : ", round(Apr_sum,2))    

May_sum=0
for row in df[(df["Order Date"] >= "05/01/2019") & (df["Order Date"] <= "05/31/2019")].iterrows():
    May_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of May    : ", round(May_sum,2))       

June_sum=0
for row in df[(df["Order Date"] >= "06/01/2019") & (df["Order Date"] <= "06/31/2019")].iterrows():
    June_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of June    : ", round(June_sum,2))  

July_sum=0
for row in df[(df["Order Date"] >= "07/01/2019") & (df["Order Date"] <= "07/31/2019")].iterrows():
    July_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of July    : ", round(July_sum,2))  

August_sum=0
for row in df[(df["Order Date"] >= "08/01/2019") & (df["Order Date"] <= "08/31/2019")].iterrows():
    August_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of August   : ", round(August_sum,2))  

Sep_sum=0
for row in df[(df["Order Date"] >= "09/01/2019") & (df["Order Date"] <= "09/31/2019")].iterrows():
    Sep_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of September    : ", round(Sep_sum,2))  

Oct_sum=0
for row in df[(df["Order Date"] >= "10/01/2019") & (df["Order Date"] <= "10/31/2019")].iterrows():
    Oct_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of October    : ", round(Oct_sum,2)) 

Nov_sum=0
for row in df[(df["Order Date"] >= "11/01/2019") & (df["Order Date"] <= "11/31/2019")].iterrows():
    Nov_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of November    : ", round(Nov_sum,2)) 

Dec_sum=0
for row in df[(df["Order Date"] >= "12/01/2019") & (df["Order Date"] <= "12/31/2019")].iterrows():
    Dec_sum += float(row[1]["Quantity Ordered"]) * float(row[1]["Price Each"])
print("Sales of December    : ", round(Dec_sum,2))

# Ans 1 :  Best Month For Sales Was December as it had 2816272 /- rupees of sales .

In [ ]:
# By Keith Method
all_data=df
all_data.head()

# Cleaning the Data
   #### dropping rows of Nan

In [ ]:
nan_df= all_data[all_data.isna().any(axis=1)]
nan_df.head()

all_data=all_data.dropna(how="all")
all_data.head()

In [ ]:
all_data = all_data[all_data["Order Date"].str[0:2]!="Or"]

In [ ]:
all_data["Quantity Ordered"] = pd.to_numeric(all_data["Quantity Ordered"])
all_data["Price Each"] = pd.to_numeric(all_data["Price Each"])

Augmenting data with Additional Columns

In [ ]:
# Adding Month Column
all_data["Month"]=all_data["Order Date"].str[0:2]
all_data["Month"]=all_data["Month"].astype(int)
all_data.head()

In [ ]:
# Adding Sales COlumns
print(all_data.columns)
all_data["Sales"]= (all_data["Quantity Ordered"]) * (all_data["Price Each"])
all_data.head()
m_data=all_data

In [ ]:
all_data=all_data.groupby(by="Month")
all_data=all_data.sum()
print(all_data)
import matplotlib.pyplot as plt
l=["jan","feb","mar","apr","may","june","july","aug","sep","oct","nov","dec"]
plt.bar(l,all_data["Sales"],color=["black","white"],edgecolor="k")
plt.xlabel("MONTHS")
plt.ylabel("SALES")
plt.title("Analysis of Sales As per Month",fontsize="14")

# December was the best month for sales as there was a sale of 4613443 rupees only.

# Question :  2 - What City had the highest Number of Sales ?

In [ ]:
all_data.head()

### Adding a column named City containing the city.

In [ ]:
merged_sales['City'] = merged_sales['Purchase Address'].str.split(',').str[1].str.strip()
merged_sales.head()
# decode the city line
# merged_sales['Purchase Address'] - it is representing the column of address from which i had to slice the city.
# str.split(',') - split the string into commas now the address is divivded into 3 segments : 1) house address 2) city 3) code
# str[1] - It is returing the string from the three whose index is 1 
# str.strip() -  it is used to remove the extra white spaces of spaces in a string after applying it only returns the city name without any extra space

### Cleaning the data

In [ ]:
merged_sales=merged_sales.dropna(how="all")
merged_sales.head()
print(merged_sales.columns)
merged_sales["Quantity Ordered"]=pd.to_numeric(merged_sales["Quantity Ordered"],errors='coerce')
merged_sales["Price Each"]=pd.to_numeric(merged_sales["Price Each"],errors='coerce')
merged_sales["Sales"]= merged_sales["Quantity Ordered"] * merged_sales["Price Each"]
merged_sales.head()

GROUPING BY

In [ ]:
Group = merged_sales.groupby("City").sum()
#print(Group)
Sales=Group["Sales"].tolist()
City1=["Atlanta","Austin","Boston","Dallas","Los Angeles","New York City","Portland","San Francisco","Seattle"]
print(Sales)
print(City1)
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 15))
plt.bar(City1,Sales,edgecolor="k")
plt.xlabel("City1")
plt.ylabel("Sales")
plt.title("SALES IN DIFFERENT CITIES")

## Ans - 2 San Franciso was the city of highest Sales.

## Question - 3 What time should we display advertisments to maximize likelihood of customer's buying product ?

In [ ]:
m_data['Order Date'] =  pd.to_datetime(m_data['Order Date']) # it is used to convert a order date into 2 different index date and time.
m_data.head() 
m_data["Hour"] = m_data["Order Date"].dt.hour
m_data["Minutes"] = m_data["Order Date"].dt.minute
busiest_hour=m_data["Hour"].value_counts().idxmax() # here value counting is giving all the hours counts and index max is returning the busiest hour.
print("The Busiest Hour for Sales was  : ",busiest_hour)
m_data.head()

In [ ]:
hours = [hour for hour, df in m_data.groupby("Hour")]

plt.plot(hours, m_data.groupby("Hour").count())

plt.xticks(hours)

plt.grid()

### Answer 3 :  Our Recommendation is either 11:00 AM or 19:00 PM as sales was at it's peak at that time.

# Question -  4 What Products most often Sell Together ?

In [ ]:
m_data.head()
p_data=m_data
# with the help of order_id we can see the products that are buyed together.

In [ ]:
df = m_data[m_data['Order ID'].duplicated(keep=False)]
# here it is going to create a dataframe in which all the duplicated Order ID are going to apppear one after the another.
df.head()
df['Grouped'] = df.groupby('Order ID')["Product"].transform(lambda x : ','.join(x))
# Here it first grouping it by Order ID and then Adding the products on both the Order Id by their Names and then putting into the column Grouped.
df.head()
Maximum = df['Grouped'].value_counts()
print(Maximum)

###  Answer 4 : The Products that are most often sell together was Iphone, Lightning Charging cable
### ii) The Poduct that are second are : Google Phone ,  USB-C Charging Cable

#### Answering question number 4 with keith galle method.

In [ ]:
from itertools import combinations
from collections import Counter
count = Counter()

for row in df['Grouped']:
    row_list= row.split(',')
    count.update(Counter(combinations(row_list, 2)))
count.most_common(10)

# here we can see the answer 
# Counter is used as a specialized Container that allows counting the Occurances of elements in a collection.
# Count will the store the count of combinations.
# for row in df['Grouped'] will iterate over the whole columns
# row_list= row.split(,) - it assumes that element in the list are comma seprated
# count.update(Counter(combinations(row_list, 2))) -  This line generates all possible combinations of size 2 from the row_list and updates the count counter .

## Question - 5 : What product sold the most and why do you think it sold the most ?

In [ ]:
p_data.head()
Quantity = p_data['Quantity Ordered','Product'].value_counts()
print(Quantity)
# it

## Answer 5  : The Product Sold the most is an Usb Cable as it is the most basic one and also 
## commonly available.

### Solving answer 5 by keith gali method

In [ ]:
#print(p_data.columns)
p1_data= m_data.groupby("Product")
Quantity_Ordered = p1_data.sum()['Quantity Ordered']

p2_data=m_data.groupby('Product').mean()['Price Each']
#print(p2_data)
products= [product for product, df in p1_data]
#print(products)
fig,ax1= plt.subplots()
ax1.bar(products,Quantity_Ordered,color='green')
ax1.set_ylabel("Quantity of Products",color='green')
ax2= ax1.twinx()
ax1.set_xlabel(" All Products ")
ax2.plot(products,p2_data,color='red')
ax2.set_ylabel('Cost of Each Product',color='red')
ax1.set_xticklabels(products,rotation='vertical',size=8)
plt.show()

#

 ## How to mark 2 plots like above
    
    1) plt.subplots() is defined to ax1 and fig i don't know what fig and ax1 is axis 1
    2) if you want to set ylabel or xlabel the syntax is  :  ax1.set_xlabel()
    3) ax2= ax1.twinx (To make another twin ax2 or we can say axis 2)
    4) then you can plot line with the help of it like ax2.plot and that all.
    5) if you want the print the x label horizontally the ax1.set_xticklables()

### Answer 5 : So the Most Commonly Used Product is AAA batteries 4 Pack  according to keith gali